nav.navbar.navbar-fixed-top.navbar-inverse
  div.container-fluid
    div.navbar-header
    - if(privilege == "Admin" || privilege == "Manager")
      a.navbar-brand(href='#',class='goHome')
        img.logo(src='images/logo-white.png')
    - else
      div.navbar-brand
        img.logo(src='images/logo-white.png')
    div#navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        - if(privilege == "Admin" || privilege == "Manager")
          li
            a(href='#',class='goHome') Register
        - if(privilege == "Admin")
          li
            a(href='#',class='goProduct') Products
      p.navbar-text.navbar-right 
        | Signed in as 
        a#goUserInfo(href='#') #{user}
      ul.nav.navbar-nav.navbar-right
        - if(privilege == "Admin")
          li
            a(href='#',class='goUsers') Manage Employees
        - if(privilege == "Admin" || privilege == "Manager")
          li
            a(href='#',class='goSales') History
        li 
          a(href='/login') Logout
